# General OS and Editor Files
.DS_Store
.Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Node.js and Next.js Frontend
node_modules/
.next/
out/
build/
package-lock.json
yarn-error.log
.pnp
.pnp.js

# Python and Flask Backend
__pycache__/
*.pyc
*.pyo
.python-version
venv/
env/
instance/
*.egg-info/
build/
dist/
MANIFEST

# Yarn Specific
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

# Log Files
*.log

# Temporary Files
tmp/
temp/
*.tmp

# Environment Variables (Sensitive Information - Be Careful Not to Commit)
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local

# Optional: Ignore Media Files (If you don't want to track them)
*.mp4
*.mkv

# Deployment Specific (Adjust as needed)
.nowignore
netlify.toml
.vercel_build_cache/

# Other files/directories you might want to ignore based on your setup
# Example: Database files if you have a local development database
*.sqlite
# data.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock
